.sub-banner{
    height: 600px;
    background: url(../img/sub-banner.jpg) 50% 50% / cover;
}

.sub-banner .common-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}

.sub-banner .common-frame>h1{
    font-size: 50px;
}

.core .common-frame>.fwb{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: var(--space-normal);
}

.core h1{
    color: var(--pm-color-800);
    font-size: 80px;
    /* text-transform: uppercase; */
    line-height: 100%;
    text-align: center;
    margin-bottom: var(--space-normal);
}

.core h1+p{
    text-align: center;
    margin-bottom: var(--space-x-large);
}

.core-card{

}

.core-card>li{
    border: 1px solid #cfcfcf;
    padding: var(--space-large);
    border-radius: 20px;
    box-sizing: border-box;
}

.core-card>li>h4{
    margin-bottom: var(--space-small);
}

.core-card>li>h4+p{
    margin-bottom: var(--space-normal);
    color: var(--pm-color-800);
}

.core-card>li>h4+*+p{
    margin-bottom: var(--space-normal);
}

.core-card>li>figure{
    margin-bottom: var(--space-normal);
}

.core-card>li ul{
    margin-bottom: var(--space-normal);
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.core-check-list li{
    display: flex;
    /* align-items: center; */
    gap: var(--space-small);
}

.core-check-list li img{
    height: 1.2rem;

}

.identity{
    margin-top: var(--space-3x-large) ;
}

.identity h1{
    text-align: center;
    margin-bottom: var(--space-small);
}

.identity h1+p{
    text-align: center;
    margin-bottom: var(--space-large);
}

.iden-img{
    height: 400px;
}

.iden-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.identity-desc{
    margin-top: var(--space-large);
    display: flex;
    gap: var(--space-normal);
}

.identity-desc > div{
    flex: 1;
}

.iden-left h5{
    font-weight: var(--fw-bold);
    line-height: 100%;
    font-size: 50px;
    margin-bottom: var(--space-small);
}

.iden-left h5+p{
    width: 50%;
}

.iden-right{
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
    margin-bottom: 6rem;
}






@media (max-width:1440px){
    .sub-banner{
        height: 400px;
    }

    .sub-banner .common-frame>h1{
        font-size: 40px;
    }

    .core h1{
        font-size: 60px;
    }

    .identity-desc > div:nth-of-type(1){
        flex: 5;
    }

    .identity-desc > div:nth-of-type(2){
        flex: 7;
    }

    .iden-left h5+p{
        width: auto;
    }

    .iden-left h5{
        font-size: 45px;
    }
}



@media (max-width:768px){
    .sub-banner{height: 500px;}

    .sub-banner .common-frame>h1{
        font-size: 30px;
    }
    .core h1{
        font-size: 40px;
    }

    .identity-desc{
        flex-direction: column;
        gap: var(--space-normal);
    }

    .iden-right{
        border-left: 4px solid var(--pm-color-800);
        padding-left: var(--space-large);
        margin-top: var(--space-large);
    }

    .iden-left h5{
        font-size: 40px;
    }
}


@media (max-width:370px){
    .iden-left h5+p{
        width: auto;
    }
}


@media (max-width:350px){
    .core h1{
        font-size: 26px;
    }
}