.sub-banner{
    height: 600px;
    background: url(../img/sub-banner.jpg) 50% 50% / cover;
}

.sub-banner .common-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}

.sub-banner .common-frame>h1{
    font-size: 50px;
}

@media (max-width:1440px){
    .sub-banner{
        height: 400px;
    }

    .sub-banner .common-frame>h1{
        font-size: 40px;
    }
}



@media (max-width:768px){
    .sub-banner{height: 500px;}

    .sub-banner .common-frame>h1{
        font-size: 30px;
    }
}